# Dossiers et fichiers générés par Maven
/target/

# Fichiers d'IDEs
.idea/
*.iml
*.class
.vscode/


# Fichiers système
.DS_Store
Thumbs.db

# Configurations spécifiques à l'environnement
*.log
*.settings/
